div{
	width: 300px;
	border-left: 5px solid green;
	border-bottom: 2px solid green;
	border-top: 2px solid green;
	border-right: 2px solid green;
	padding: 50px;
	margin: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px	}
