*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #777;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading1{
    position: absolute;
    width: 250px;
    height: 250px;
    border-top: 15px solid #111;
    border-right: 15px solid #111;
    border-radius: 50%;
    animation: loading_animation_1 3s linear infinite;
}
.loading2{
    position: absolute;
    width: 220px;
    height: 220px;
    border-bottom: 15px solid #fff;
    border-left: 15px solid #fff;
    border-radius: 50%;
    animation: loading_animation_2 3s linear infinite;
}
.loading3{
    position: absolute;
    width: 190px;
    height: 190px;
    border-top: 15px solid #111;
    border-right: 15px solid #111;
    border-radius: 50%;
    animation: loading_animation_1 3s linear infinite;
}
.loading4{
    position: absolute;
    width: 160px;
    height: 160px;
    border-bottom: 15px solid #fff;
    border-left: 15px solid #fff;
    border-radius: 50%;
    animation: loading_animation_2 3s linear infinite;
}
.loading5{
    position: absolute;
    width: 130px;
    height: 130px;
    border-top: 15px solid #111;
    border-right: 15px solid #111;
    border-radius: 50%;
    animation: loading_animation_1 3s linear infinite;
}
.loading6{
    position: absolute;
    width: 100px;
    height: 100px;
    border-bottom: 15px solid #fff;
    border-left: 15px solid #fff;
    border-radius: 50%;
    animation: loading_animation_2 3s linear infinite;
}
.loading7{
    position: absolute;
    width: 70px;
    height: 70px;
    border-top: 15px solid #111;
    border-right: 15px solid #111;
    border-radius: 50%;
    animation: loading_animation_1 3s linear infinite;
}
.loading8{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    animation: loading_animation_2 3s linear infinite;
}

@keyframes loading_animation_1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loading_animation_2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}