*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	text-align: center;
}

.share ul{
	list-style-type: none;background: lightgray;border-radius: 10px;
}
.share ul li{
	display: inline;
}
.share ul li .bx:hover{
	background: grey;transform: scale(1.1);border-radius: 10px;
}
