*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	text-align: center;
}
body,html{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(125, 155, 155,1);
}
.share ul{
	list-style-type: none;background: lightgray;border-radius: 10px;
}
.share ul li{
	display: inline;
	margin-left: 10px;
}
.share ul li:last-child{
	margin-right: 10px;
}
.share ul li .bx:hover{
	background: rgb(155, 155, 155);transform: scale(1.1);border-radius: 10px;
}
