body{
	background-color: lightgrey;
	color: blue;

}

h1{
	background-color: black;
	color: white;text-align: center;text-transform: uppercase;
    letter-spacing: 5px;word-spacing: 3px;white-space: nowrap;
    text-shadow: 4px 4px 5px red;
}

p{
	text-decoration: underline; 
}
div{vertical-align: text-top;

}