*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(225,225,225,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* login section */

.container .loginpage{
    width: 300px;
    height: 350px;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.container .loginpage h2{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    left: 30px;
    position: relative;
    text-transform: capitalize;
    /* background-color: yellow; */
    color: #bdd4e7;
    margin: 0;
}
.container .loginpage  .inputtab{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
}



.container .loginpage .btntab{
    width: 100%;
    height: 15%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .loginpage .errormsgtab{
    width: 100%;
    height: 15%;
    /* background-color: blue; */
    
}

.form{
    position: relative;
    width:1005;
    height: 25%;
}
.form__input{
        width: 100%;
        height: 100%;
        border: 0px solid transparent;

        height: 30px;
        /* background: #fff; */
        background-color: #bdd4e7;
        /* background-image: linear-gradient(12deg, #bdd4e7 0%, #8693ab 74%); */
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        border-radius: 5px;
        padding: 0 0 0 7%;    
        box-shadow: none;
    }
.form__label{
    position: absolute;
    left: 0.3rem;
    top: 0.2rem;
    padding: 0 0.5rem;
    color: #111;
    cursor: text;
    transition: all 0.3s;
    

}
.form__input:focus{
    outline: none;
}
.form__input:focus ~ .form__label,.form__input:not(:placeholder-shown).form__input:not(:focus) ~.form__label{
    top: -1.9rem;
    left: -0.3rem;
    font-size: 1.2rem;
    color: #bdd4e7;

}
.form__input:focus ~ .form__label,.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label{
    border-radius: 5px;
    font-weight: 100px;
    
}
.form__input:focus ~ .form__label,.form__input:not(:placeholder-shown) ~.form__label{
    border-radius: 5px;
}
.form__input:not(:placeholder-shown).form__input:not(:focus):hover~.form__label{
    transition: border 200ms;
}
.form__input:focus{
    caret-color: #111;
}

.btn{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    border: 0;
}
.btn:active{
    transform: scale(0.9);
}


/* signin section */


.container .signuppage{
    width: 300px;
    height: 350px;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    display: none;
}

.container .signuppage h2{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    left: 30px;
    position: relative;
    text-transform: capitalize;
    /* background-color: yellow; */
    color: #bdd4e7;
    margin: 0;
}
.container .signuppage  .inputtab{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
}



.container .signuppage .btntab{
    width: 100%;
    height: 15%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .signuppage .errormsgtab{
    width: 100%;
    height: 15%;
    /* background-color: blue; */
    
}