*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #555;*/
    min-height: 100vh;
}
i:nth-child(1){
    font-size: 250px;
    position: absolute;
    /*background: yellow;*/
}
i:nth-child(2){
    font-size: 250px;
    position: absolute;
    /*background: red;*/
}
i:nth-child(2):before{
    content: "";
    width: 350px;
    height: 260px;
    top: 0px;
    left: 0px;
    background: yellow;
    position: relative;
    filter: blur(70px);
    overflow: hidden;
    display: none;
    transition: 5s all;

}
.switch{
    width: 25px;
    height: 50px;
    position: absolute;
    left: 49%;
    top: 88%;
    background: #111;
    border: 2px double #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.switch::before{
    content: 'On';
    width: 80%;
    height: 50%;
    top: 0;
    background: white;
    position: absolute;
    border-radius: 50px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: red;
}
#switch:checked ~ .container i:nth-child(2):before{
    display: block;
    transition-delay: 2s all;
}
#switch:checked ~ .container .switch::before{
    top: 10px;
    position: relative;
    content: 'off';
    text-transform: uppercase;
}
input{
    display: none;
}
#switch:checked ~.container{
    background: #222;
    transition: 2s all;
}