*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    transition:  0.5s all;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
}
.con .body {
    display: flex;
}
.con .body .content ul li{
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    transform: skew(10deg);
    box-shadow: inset 0 0 2px #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;

}
.con .body .content{
    padding-left: 100px;
}
.con .body .content ul{
    width: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewX(40deg);
}
.ul:hover .li:nth-child(2){
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    transform: skew(10deg) translate(20px,-20px);
    box-shadow: inset 0 0 2px #ffff;
}
.ul:hover .li:nth-child(3){
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    transform: skew(10deg) translate(40px,-40px);
    box-shadow: inset 0 0 2px #ffff;

}
.ul:hover .li:nth-child(4){
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    transform: skew(10deg) translate(60px,-60px);
    box-shadow: inset 0 0 2px #ffff;
}
.con .body .content:nth-child(1) ul li i{
    color: green;
}
.con .body .content:nth-child(2) ul li i{
    color: hotpink;
}
.con .body .content:nth-child(3) ul li i{
    color: blue;
}
.con .body .content:nth-child(4) ul li i{
    color: #fff;
}