*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.5s all;

}
body{
    background: #444;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .content{
    width: 20%;
    height: 40%;
    background: red;
    position: absolute;

}
.container .content:before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient( 45deg,blue ,yellow);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.container .content:after{
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(red,blue);
    position: absolute;
    filter: blur(40px);
    left: 0;
    top: 0;
    z-index: -1;
    /*display: none;*/
}
.container .content .box{
    background: #777;
    width: 100%;
    height: 100%;
    /*background: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:2px solid yellowgreen;
    border-right:2px solid yellowgreen;
    border-left:2px solid royalblue;
    border-bottom:2px solid royalblue;
    

}
.container .content:hover{
    transform: translateY(-15px);
    
}
.container .content .box span{
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
}