*,::before,::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#selectedFile{
    display: none;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
#container{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.1);
    position: relative;
}
.button{
    box-shadow: 5px 0 10px 1px rgba(0,0,0,0.6);
    width: 50%;
    height: 100%;
}
.header{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
h3{
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.3);
}
.header button{
    padding: 10px;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.3);

}
.header button:active{
    transform: scale(0.9);
}

.body{
    width: 100%;
    height: 60%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.bodycontainer{
    width: 75%;
    height: 95%;
    overflow: scroll;
}
.filters{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px 20px;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
}
span{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.footer{
    width: 100%;
    height: 30%;
    background-color: yellow;
    overflow: scroll;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}