@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    transition: 0.5s all;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #444;
}
.con{
    width: 300px;
    height: 150px;
    background: #444;
    border-radius: 10px;
}
.con .clock{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 33px;
    position: relative;
    font-weight: bold;
    border: 10px solid black;
    border-radius: 5px;
    transform: scale(1.5);
}
.con .clock .ampm{
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
    font-size: 12px;
    top: -20px;
    right: 0px;
    color: rgb(255, 0, 242);
}
.con .clock{
    box-shadow: 0 0 10px #111,
                0 0 20px #111,
                0 0 30px #111;
}
span{
    font-weight: bold;
}
.hr{
    color: #ffff00;
}
.min{
    color:#0000ff ;
}
.sec{
    color: #ff0000;
    
}
.date{
    position: absolute;
    font-size: 14px;
    bottom: 7px;
    left: 74px;
}
.hr,.min,.sec{
    padding: 5px;
}
.dat,.mon,.yea{
    color: rgb(0, 247, 255); 
}
.dayy,.slash,.col{
    color: rgb(255, 0, 242)
}
.clock{
    /* background: url(https://cdn.pixabay.com/photo/2019/12/17/17/58/night-4702174__340.jpg); */
    background-size: cover;
}