*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.top{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%
}
.bottom{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%
}        
.left,.center,.right{
    text-align: center;
}
.top > .left,.top >.right{
    background-color: #eec0c6;
    background-image: linear-gradient(360deg, #eec0c6 0%, #7ee8fa 74%);
   
}
.top > .center{
    background-color: #eec0c6;
    background-image: linear-gradient(360deg, #eec0c6 0%, #7ee8fa 74%);
   
}
.bottom > .center{
    background-color: #eec0c6;
    background-image: linear-gradient(180deg, #eec0c6 0%, #7ee8fa 74%);
   
}
.bottom > .left,.bottom >.right{
    background-color: #eec0c6;
    background-image: linear-gradient(180deg, #eec0c6 0%, #7ee8fa 74%);
   
}   
input,span{
    top: 20%;
    position: relative;
    border-radius: 5px;
}
.left input:nth-of-type(2){
    width: 15%;
    top: 20%;
   
}
.center input:nth-of-type(3){
    width: 15%;
    top: 25%;
}
.right input:nth-of-type(3){
    width: 15%;
    top: 25%;
}
input{
    width: 40%;
    outline: 0px;
    padding: 1%;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #95d9e2 100%);


    
}
.bottom>.left>span,.bottom>.center>span,.bottom>.right>span{
    top: 100px;
}

/* .submit{
    padding: 10px;
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    border-radius: 10px;
    box-shadow: none;
    outline: none;
}   
          */
.submit {
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    /* display: block; */
    
  }

  .submit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 



p{
    top: 40px;
    position: relative;
}

.bottom p{
    top: 150px;
    position: relative;
}