*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration:none;
    transition: 0.5s all;
}
input{
    display: none;
}
#radio1:checked~.container #header .right ul #lia {
    background: rgb(225, 255, 255);
}
#radio2:checked~.container #header .right ul #lib {
    background: rgb(225, 255, 255);
}
#radio3:checked~.container #header .right ul #lic {
    background: rgb(225, 255, 255);
}
#radio4:checked~.container #header .right ul #lid {
    background: rgb(225, 255, 255);
}
#radio5:checked~.container #header .right ul #lie {
    background: rgb(225, 255, 255);
}

#radio6:checked~.container #header{
    background-color: #333;
    /* color: #fff; */
}
#radio6:checked~.container #header .left p{
    color: rgb(224, 220, 220);
}
#radio6:checked~.container #header .right ul li:hover{
    background-color: rgba(0, 0, 0, 0.4);   
}
#radio6:checked~.container #header .right ul>#lif{
    color:rgb(224, 220, 220) ;
}

#radio6:checked~.container #header .right ul #lia{
    filter: invert(1);
}
#radio6:checked~.container #header .right ul #lib{
    filter: invert(1);
}
#radio6:checked~.container #header .right ul #lic{
    filter: invert(1);
}
#radio6:checked~.container #header .right ul #lie{
    filter: invert(1);
}

#radio6:checked~ .container .body .lef{
    background-color: #222;
}
#radio6:checked~ .container .body .lef p{
    color: rgb(224, 220, 220);
}
#radio6:checked~ .container .body .lef>ul{
    background-color: #777;
}
#radio6:checked~ .container .body .lef>ul i{
    color: rgb(224, 220, 220);
}
#radio6:checked~ .container .body .rig{
    background-color: #222;
    color:rgb(224, 220, 220) ;
}
#radio6:checked~ .container .body {
    background-color: #333;
}
#radio6:checked~ .container #header {
    background-color: #333;
}



#lif label>.bx{
    font-size: 20px;
    right: 5px;
    transform: scale(1.5);
}
#lif{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container .wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#header{
    width: 100%;
    height: 10%;
    background: rgb(174, 223, 164);
    position: fixed;
    display: flex;
}
#header .left{
    position: relative;
    width: 50%;
    font-size: 23px;
    display: flex;
    margin: 33px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}
#header .right{
    position: relative;
    width: 50%;
}
#header .right>ul{
    position: absolute;
    display: flex;
    list-style: none;
    right: 0;
    top: 35%;
}
#header .right>ul li{
    margin-right: 15px;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
}
#header .right>ul li:hover{
    background: rgb(255, 222, 190,0.5);
}
/* head end  */



/* body start */

#body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    display: flex;
    background-size: cover;
    /* background-image: url('https://docs.google.com/uc?id=1ldavtZvmc3u32VDCV0fWI32Uh_IrD_lD'); */
}



#body .lef{
    position: relative;
    width: 40%;
    height: 100%;
    background: rgb(0, 0, 0,0.09);
}
#body .lef .imgbox{
    position: relative;
    width:40%;
    height: 35%;
    background-image: url('https://docs.google.com/uc?id=1Zp3h1aLbAEdwAiBGQYbijaIISMQonnm4');
    border-radius: 40%;
    top: 15%;
    background-size: cover;
    background-position: center;
    background-color: rgb( 152, 195, 169,0.2);
    left:30%
}
#body .lef .imgbox .load{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.15);
    /* background-color:  #98c3a9 ; */
}


.one{
    width: 250px;
    height: 250px;
    position: absolute;
    /* background: coral; */
    border-radius: 50%;
    border-top:20px solid rgb(0, 0, 0);
    border-right:20px solid rgb(0, 0, 0);
    border-bottom:20px solid transparent;
    border-left:20px solid transparent;
    animation: ani1 3s linear infinite;
}
.two{
    width: 210px;
    height: 210px;
    position: absolute;
    /* background: coral; */
    border-radius: 50%;
    border-bottom:20px solid rgb(255, 255, 255);
    border-left:20px solid rgb(255, 255, 255);
    border-top:20px solid transparent;
    border-right:20px solid transparent;
    animation: ani2 3s linear infinite;
}

.three{
    width: 170px;
    height: 170px;
    position: absolute;
    /* background: coral; */
    border-radius: 50%;
    border-top:20px solid rgb(0, 0, 0);
    border-right:20px solid rgb(0, 0, 0);
    border-bottom:20px solid transparent;
    border-left:20px solid transparent;
     animation: ani1 3s linear infinite;
}
.four{
    width: 130px;
    height: 130px;
    position: absolute;
    /* background: coral; */
    border-radius: 50%;
    border-bottom:20px solid rgb(255, 255, 255);
    border-left:20px solid rgb(255, 255, 255);
    border-top:20px solid transparent;
    border-right:20px solid transparent;
    animation: ani2 3s linear infinite;
}
.five{
    width: 90px;
    height: 90px;
    position: absolute;
    /* background: coral; */
    border-radius: 50%;
    border-top:20px solid rgb(0, 0, 0);
    border-right:20px solid rgb(0, 0, 0);
    border-bottom:20px solid transparent;
    border-left:20px solid transparent;
     animation: ani1 3s linear infinite;
}
.six{
    width: 50px;
    height: 50px;
    position: absolute;
    /* background: coral; */
    border-radius: 50%;
    border-bottom:20px solid rgb(255, 255, 255);
    border-left:20px solid rgb(255, 255, 255);
    border-top:20px solid transparent;
    border-right:20px solid transparent;
    animation: ani2 3s linear infinite;
}
.seven{
    width: 10px;
    height: 10px;
    position: absolute;
    /* background: coral; */
    border-radius: 50%;
    border-top:20px solid rgb(0, 0, 0);
    border-right:20px solid rgb(0, 0, 0);
    border-bottom:20px solid transparent;
    border-left:20px solid transparent;
    animation: ani1 3s linear infinite;
    
}
@keyframes ani1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes ani2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
#body .lef  .name{
    position: relative;
    top: 18%;
    text-transform: uppercase;
    text-align: center;
}

#body .lef ul{
    position: relative;
    list-style: none;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    height: 40px;
    background-color: rgb(136, 243, 180);
}

#body .lef ul li a{
    margin-right: 10px;
    display: flex;
    color: #111;
    justify-content: center;
    align-items: center;
}

#body .lef ul li  {
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
}
/* body left end */
/* body rigth start */
#body .rig{
    position: relative;
    width: 60%;
    height: 100%;
    background: rgb(0, 0, 0,0.09);
    display: flex;
}
#body .rig .cons{
    width: 100%;
    position: relative;
    height: 90%;
    overflow: hidden;
}
#body .rig .cons>div:nth-child(1){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    overflow: scroll;
    white-space: normal;
    
}
#body .rig .cons>div:nth-child(2){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    overflow: scroll;
}

#body .rig .cons>div:nth-child(3){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    
    
}

#body .rig .cons>div:nth-child(4){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    
}

#radio1:checked ~ .container .wrap #body .rig .cons>div:nth-child(1){
    left: 0;
}

#radio2:checked ~ .container .wrap #body .rig .cons>div:nth-child(2){
    left: 0;
}
#radio3:checked ~ .container .wrap #body .rig .cons>div:nth-child(3){
    left: 0;
}
#radio5:checked ~ .container .wrap #body .rig .cons>div:nth-child(4){
    left: 0;
}

#body .rig div{
    padding:30px;
    line-height: 50px;
}
#body .rig h3{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 2%;
    text-decoration:underline;
}
#body .rig p{
    position: relative;
    letter-spacing: 0.3px;
}
#body .rig p b{
    text-transform: capitalize;
    text-decoration: underline;
}

#body .rig .cons>div:nth-child(3) p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#body .rig .cons>div:nth-child(3) ul{
    list-style: none;
    text-transform: capitalize;
    top: 5%;
    position: relative;
    padding: 0 0 0 5%;
    display: grid;
    grid-template-columns:  auto auto;
}
#body .rig .cons>div:nth-child(3) ul i{
    font-size: 30px;
    text-align: center;
}
#body .rig .cons>div:nth-child(3) ul li{
    display: flex;
    align-items: center;
}
#body .rig .cons>div:nth-child(3) ul i{
    padding-right: 15px;
}
#body .rig .cons>div:nth-child(4) p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#body .rig .cons>div:nth-child(4) ul{
    list-style: square;
    text-transform: capitalize;
    top: 5%;
    position: relative;
    padding: 0 0 0 10%;
    display: grid;
    grid-template-columns:  auto auto;
    list-style: none;
}
#body .rig .cons>div:nth-child(4) ul li{
    display: flex;
    align-items: center;
}
#body .rig .cons>div:nth-child(4) ul li i{
    padding-right: 20px;
}
#body .rig .cons>div:nth-child(4) ul i{
    font-size: 30px;
    text-align: center;
}

.iconify{
    font-size: 50px;
    padding-right: 20px;
    
}



@media  screen and (min-width:212px) and (max-width:630px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container .wrap{
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-rows: 10% 90%;
        row-gap: 0px;
    }
   #header{
       display: inline-block;
       width: 100%;
       height:180%;
       position: relative;
   }
    #header .left {
        width: 100%;
        position: relative;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        top: 15px;
    }
    #header .right{
        width: 100%;
        height: 60%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -8px;
        padding: 0 20px 0 20px ;
    }
    #header .right ul{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    #body .rig .cons #education {
        line-height: 40px;
        overflow: scroll;
    }
    #body{
        width: 100%;
        height: 90%;
        position: relative;
        display: grid;
        grid-template-rows: auto auto ;
        overflow: scroll;
        row-gap: 0px;
    }
    #body .lef{
        width: 100%;
        height: 40%;
        position: absolute;
        margin: 0;
    }
    #body .lef .imgbox{
        border-radius: 10px;
        background-size: 250px;
        background-position: top;
        height:60%;
    }
    #body .lef p{
        margin: 0;
    }
    #body .lef ul{
        top:60px;
    }
    #body .lef ul li{
        margin: 0px;
    }
    #body .rig{
        position: absolute;
        width: 100%;
        height: 93%;
        margin: 0px;
        top: 294px;
    }
    #body .rig .cons{
        display: block;
        width: 100%;
        position: relative;
        margin: 0;
    }
    #body .rig .cons>div:nth-child(3) ul{
        display: grid;
        grid-template-columns: auto ;
    }
    #body .rig .cons>div:nth-child(4) ul{
        display: grid;
        grid-template-columns: auto ;
    }


} 