*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: beige;
}

/* weather box */

.weather-container{
    width: 350px;
    height: 400px;
    border-radius: 10px;
    background-color: aqua;
    position: relative;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 25%;
}
/* input style */


        .form{
            position: relative;
            width:1005;
            height: 25%;
            top: 25px;
        }
        .form__input{
                width: 100%;
                height: 100%;
                border: 0px solid transparent;
                padding: 4%;
                height: 30px;
                background: #fff;
                box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            }
            .form__label{
                position: absolute;
                left: 0.5rem;
                top: 0.4rem;
                padding: 0 0.5rem;
                color: #111;
                cursor: text;
                transition: all 0.3s;

            }
            
            .form__input:focus{
                outline: none;
            }
                 .form__input:focus ~ .form__label,.form__input:not(:placeholder-shown).form__input:not(:focus) ~.form__label{
                top: -1.2rem;
                font-size: 0.8rem;
            }
            .form__input:focus ~ .form__label,.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label{
                border-radius: 5px;
            }
            .form__input:focus ~ .form__label,.form__input:not(:placeholder-shown) ~.form__label{
                border-radius: 5px;
            }
            .form__input:not(:placeholder-shown).form__input:not(:focus):hover~.form__label{
                transition: border 200ms;
            }
            .form__input:focus{
                caret-color: #111;
            }


/* button style */

.btn{
    position: absolute;
    top: 60px;
    text-align: center;
    padding: 1.5%;
    top:4rem;
    font-size: 0.9rem;
    text-transform: capitalize;
    border-radius:5px;
    border: 0px;
    background-color: transparent;
    box-shadow: 0 1px 5px rgba(0,0,0,0.6);
    left:7rem;
}
.btn:active{
    transform: scale(0.9);
}

.body{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.error{
    width: 100%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    bottom: 0rem;
    position: absolute;
}
/* icon */
.icon{
    position: absolute;
    top: 7rem;
    left: 4rem;
}
.weather{
    position: absolute;
    top: 7.8rem;
    left: 7.7rem;
    font-size: 1.5rem;
}
.temp{
    position: absolute;
    font-size: 3rem;
    top:10rem ;
    left: 4.4rem;
}
.location{
    position: absolute;
    font-size: 1.5rem;
    left: 4.4rem;
}
.country{
    position: absolute;
    font-size: 1.5rem;
    left: 11.3rem;
    top: 14.8rem;
}


